.education-container{
    background-color:#FFFFFF;
    height:56rem;
    width:23.7rem;
     border-radius:12px;
    margin-left:1rem;
    margin-top:1rem;
    padding:1rem;
    
}


.main-heading{
    margin-top:1rem;
}

.edu-section-container-1{
    width:22rem;
    height:20rem;
    background-color: #4A8B70;
    border-radius:12px;
    display:grid;
    color:white;
    display: flex;
    font-size:0.77em;
    padding:1rem;
}

.header-content{
    margin-top:3rem;
    margin-left:2rem;
}
.date-span{
    margin-bottom:1rem;
    font-weight: 500;
    font-family:Poppins;
    
    
}
.section-head{
    font-family: Poppins;
    font-weight: 600;
    font-size:1.5em;
}

#bullets li{
    list-style-type:circle;
    
}

.list-content{
    margin-left:2.5rem;
    
}

.edu-section-container-2{
    background-color: #E7F0EC;
    width:22rem;
    height:15rem;
    border-radius:12px;
    display:grid;
    color:black;
    display: flex;
    font-size:0.77em;
    padding:1rem;
    margin-top:1rem;

}

.edu-section-container-3{
    background-color: #E7F0EC;
    width:22rem;
    height:15rem;
    border-radius:12px;
    display:grid;
    color:black;
    display: flex;
    font-size:0.77em;
    padding:1rem;
    margin-top:1rem;
}

@media (min-width:1200px){
    .education-container{
        width:94rem;
       position:relative;
       left:12rem;
        height:62rem;
        margin-top:2.6rem;
        padding:2rem;
        border-radius: 30px;
        
    }

    div.edu-section-container-1{
      width:90rem;
    }

    div.list-content{
        font-size:2em;
    }

    h2.section-head{
        font-size:3em;
    }

    p.date-span{
        font-size:2em;

    }
    span{
        font-size:2em;
    }
    
    div.edu-section-container-2{
        width:90rem;
        
    }
    
    div.edu-section-container-3{
        width:90rem;
    }

    h2.section-head{
        font-size:2em;
    }

    p{
        font-size: 2em;
        }
    
    h1#main-heading{
        font-size:3em;
    }
    
}
