.experience-container{
    background-color:#FFFFFF;
    height:37rem;
    width:23.7rem;
     border-radius:12px;
    margin-left:1rem;
    margin-top:1rem;
    padding:1rem;
    position: relative;
    right:0.5rem;

   
    
}

.exp-section-container-1{
    width:20rem;
    height:25em;
    background-color: #4A8B70;
    border-radius:12px;
    color:white;
    font-size:0.77em;
    padding:1rem;
}

.exp-section-container-2{
    background-color: #E7F0EC;
    width:22rem;
    height:15rem;
    border-radius:12px;
    display:grid;
    color:black;
    display: flex;
    font-size:0.77em;
    padding:1rem;
    margin-top:1rem;
    margin-right:4rem;
    position:relative;
    right:1rem;
}


