


.design-section{
    height:11rem;
    width:12rem;
    background-color: #E7F0EC;
    border-radius:12px;
    margin-top:5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    padding:1rem;

}

.software-section{
    height:11rem;
    width:12rem;
    background-color: #E7F0EC;
    border-radius:12px;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    padding:1rem;
}

.languages-section{
    height:11rem;
    width:12rem;
    background-color: #E7F0EC;
    border-radius:12px;
    padding:0.5rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
    padding:1rem;
}


.logo-container{
  margin-top:2.7rem;
  background-color: #FFFFFF;
  width:23.4rem;
  height:19rem;
  padding:1rem;
  border-radius: 12px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  gap:1rem;
  margin-right:2rem;
  position:relative;
  left:1.1rem;
  

}

img{
    height: 1.5rem;
    width:1.5rem;
}

@media (min-width:1200px){
      
    div.logo-container{
        display:flex;
        flex-direction: column;
        height:62rem;
        width:20rem;
        margin-left:14rem;
        padding:5rem;
        position:relative;
        left:95rem;
        bottom:65rem;
        


    }

    img{
        height:2.5rem;
        width:2.5rem;
    }
    
}