.logo-container{
  margin-top:2.7rem;
  background-color: #FFFFFF;
  width:25rem;
  height:20rem;
  padding:1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap:1rem;
  margin-right:2rem;
  position: relative;
  right:1rem;
    
}


img.logo{
    width: 2rem;
    height:2rem;
}

.design-section{
    height:11rem;
    width:8rem;
    background-color: #E7F0EC;
    border-radius:12px;
    margin-top:5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    

}

.software-section{
    height:11rem;
    width:8rem;
    background-color: #E7F0EC;
    border-radius:12px;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}

.languages-section{
    height:11rem;
    width:8rem;
    background-color: #E7F0EC;
    border-radius:12px;
    padding:0.5rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}
