
/*Styling of Container-1*/
.Projects-container{
    height: 39.5rem;
    width:23.6rem;
    background-color:var(--backgroung-color);
    border-radius:12px;
    margin-left:1rem;
    margin-top:1rem;
}

.section-1{
    background-color: #4A8B70;
    height:19rem;
    width:10rem;
    border-radius:12px;
    margin-left:1rem;
    padding:0.5rem;
    
}

.section-content{
    font-size: 0.65em;
    color:white;
    font-family: var(--font-family);

}

.heading-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heart{
    color:rgba(255, 51, 0, 0.82);
}

.heading-1{
    color:white;
    font-family: var(--font-family);
}

.heading-2{
    color:white;
    margin-bottom: 1rem;
    font-family: var(--font-family);
}

.title{
    font-weight:700;
    font-family: var(--font-family);
}

.project-heading{
    font-weight:600;
    font-size: 20px;
    margin-left:1rem;
    margin-bottom:1rem;

}

/*Styling section-2*/

.section-2{
    background-color: #E7F0EC;
    height:19rem;
    width:10rem;
    border-radius:12px;
    margin-left:1rem;
    padding:0.5rem;
}

.title-2{
    color:black;
    font-weight:700;
    font-family: var(--font-family);

}

.info-2{
    color:black;
    font-family: var(--font-family);
    
}